* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

body {
  background-color: white;
}

img {
  object-position: center;
  object-fit: contain;
  vertical-align: middle;
  user-select: none;
}