* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  min-height: 100vh;
}

body {
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
}

#root {
  min-height: calc(100vh - 70px);
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

div,
li,
p,
ul,
ol,
span {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  object-position: center;
  object-fit: contain;
  vertical-align: middle;
  user-select: none;
}